[submodule "thirdparty/phmap"]
	path = thirdparty/phmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
[submodule "thirdparty/EigenRand"]
	path = thirdparty/EigenRand
	url = https://github.com/bab2min/EigenRand
[submodule "thirdparty/morton"]
	path = thirdparty/morton
	url = https://github.com/kevinhartman/morton-nd.git
[submodule "thirdparty/backward-cpp"]
	path = thirdparty/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
